.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.dropdown-item {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.dropdown-item:hover {
  transform: translateX(10px) !important;
  color: #ff6f00 !important;
  background-color: transparent !important;
}

.slider-link:hover {
  color: #ff6f00 !important;
}

p {
  font-size: 18px;
}

.text-orange {
  color: #ff6f00;
}

.bg-orange {
  background-color: #ff6f00;
}

.swiper-pagination {
  position: relative !important;
  margin: 50px 0px;
}

.swiper-pagination-bullet-active {
  background: #ff8b33 !important;
}

.topbtn {
  background-color: #ff6f00 !important;
  color: white;
  font-weight: bold;
}

/* top button */
.whatsapp-btn {
  z-index: 100;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #25D366;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite;
}

.whatsapp-btn:hover {
  background-color: #06a834;
}

.whatsapp-btn i {
  font-size: 1.5rem;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.topbtn {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.topbtn i {
  font-size: 1.5rem;
  color: white;
}

/* navbar */

.nav-link {
  font-size: 18px !important;
  color: black !important;
  text-decoration: none;
}

.nav-link:hover {
  font-size: 18px !important;
  color: #ff6f00 !important;
  text-decoration: none;
}

.contact-btn {
  border: 1px solid black !important;
  padding: 7px 23px !important;
  border-radius: 0px !important;
  font-weight: bold !important;
  background-color: white;
  transition: color 0.4s ease, border-color 0.3s ease;
}

.contact-btn:hover {
  color: white !important;
  background-color: black;
  transition: background-color 0.4s ease, color 0.3s ease;
}

/* hero-section */
.home-hero {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/hero-bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 620px;
  background-blend-mode: darken;
}

.home-hero1 {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/textile-slider.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 620px;
  background-blend-mode: darken;
}

.home-hero2 {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/coal-slider.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 620px;
  background-blend-mode: darken;
}

.hero-btn1 {
  background-color: #ff6f00 !important;
  color: white !important;
  transition: color 0.4s ease, border-color 0.3s ease;
  padding: 10px 26px !important;
  border-radius: 0px !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.hero-btn1:hover {
  background-color: black !important;
  color: #ff6f00 !important;
  transition: background-color 0.4s ease, color 0.3s ease;
}

/* expertise */

.expertise-card {
  margin: auto;
  border: none !important;
  transition: transform 0.3s ease;
}

.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.expertise-card-img {
  transition: transform 0.3s ease;
}

.expertise-card:hover .expertise-card-img {
  transform: scale(1.1);
}

.expertise-card-title {
  transition: color 0.3s ease;
}

.expertise-card:hover .card-title {
  color: #ff6f00;
}

.expertise-card-btn {
  background-color: #ff6f00 !important;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.expertise-card-btn:hover {
  background-color: white !important;
  color: #ff6f00 !important;
  border: 1px solid #ff6f00 !important;
}

.why-origo-bg {
  background-color: #000000;
  border-bottom: 3px solid #ff6f00;
}

.why-origo-bg img {
  margin: auto !important;
}

/* about us page */
.about-hero {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/aboutUs-hero.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  background-blend-mode: darken;
}

.about-hero-content {
  border-top: 5px solid #ff6f00;
  border-radius: 8px;
}

.about-hero p {
  color: white;
}

.about-hero h1 {
  color: #ff6f00
}

.hero-p {
  border-top: 5px solid #ff6f00;
  border-radius: 8px;
  padding-bottom: 50px;
}

.vision {
  background: #f8ab70;
  border-radius: 32px;
}

/* services */
.services {
  background-image: url('/images/services-hero-bg.png');
  background-size: 100% 100%;
}

.services p {
  color: grey;
}

/* textile */

.textile-sec2 {
  background-color: #000000;
  padding: 60px 0px;
  border-bottom: 4px solid #ff6f00;
}

.textile-sec2 p {
  color: rgb(151, 151, 151);
}

/* coal */

.coal-sec2 {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('/images/coalProductRange-bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  background-blend-mode: darken;
}

.coal-sec2 button {
  cursor: default !important;
}

.coal-sec-3 {
  border-radius: 10px;
  border-left: 5px solid #ff6f00;
  padding-left: 20px;
}

.coal-last-sec {
  border-bottom: 5px solid #ff6f00;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

/* contact */

.contact-bg {
  background-image: url('/images/form-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.form-label {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  background-color: transparent !important;
  border-radius: 0px !important;
  border: 0px !important;
  border-bottom: 1px solid white !important;
  color: white !important;
  /* Set text color to white */
}

.form-control:focus {
  box-shadow: none !important;
  /* Remove blue shadow on focus */
  border-bottom: 1px solid white !important;
  /* Retain the white bottom border */
}

.conatct-form-btn {
  border: 0px !important;
  background-color: #ff6f00 !important;
  color: white !important;
  transition: color 0.4s ease, border-color 0.3s ease;
  padding: 10px 26px !important;
  border-radius: 8px !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.conatct-form-btn:hover {
  background-color: black !important;
  color: #ff6f00 !important;
  transition: background-color 0.4s ease, color 0.3s ease;
}

.contact-card {
  background-color: black !important;
  border-radius: 15px !important;
}

.contact-card p {
  color: white !important;
  line-height: 2;
}

.contact-card h4 {
  color: #ff6f00;
  font-weight: bold;
}

/* Footer */

.slide-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 2;
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.slide-link:hover {
  transform: translateX(10px);
  color: #ff6f00;
}

/* textile page */
.textile-hero {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/textile-slider.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  background-blend-mode: darken;
}

.textile-hero-content {
  border-top: 5px solid #ff6f00;
  border-radius: 8px;
}

.textile-hero p {
  color: white;
}

.textile-hero h1 {
  color: #ff6f00
}


/* coal energy page */
.coal-energy-hero {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/coal-slider.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  background-blend-mode: darken;
}

.coal-energy-hero p {
  color: white;
}

.coal-energy-hero h1 {
  color: #ff6f00
}

/* downloads-page */
.download-hero {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('/images/downloads-bg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  background-blend-mode: darken;
}

.download-hero-content {
  border-top: 5px solid #ff6f00;
  border-radius: 8px;
}

.download-hero p {
  color: white;
}

.download-hero h1 {
  color: #ff6f00
}

/* Home Textiles */
.htcards:hover {
  cursor: grab;
}

/* Pakistan coal page */
.pakCoal-head {
  background-image: url('/images/coal/coal-bg-hero.png');
  background-size: cover;
  background-position: center;
  padding: 25px 0px 60px 0px;
}

.section3-coal {
  background-color: #d9d9db;
}


/* css media queries  */

@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 17px !important;
  }

  .contact-btn {
    margin-top: 15px;
    text-align: center;
  }
}